@import './grid.scss';

/*High Level Layout Properties*/
#root { height:100%; width: 100%;}

.layout-App {
  height: 100%;
  width: 100%;
  background-color: white;
}
.layout-header {
  float: left;
  width: $col-12;
  margin: 0 0 5px 0;
  height: 10%;
  text-align: center;
}
//FIXME:  Containers are larger than viewport
.layout-map {
  float: right;
  width: $col-8;
  height: 90%;
}

.layout-sidebar {
  float: left;
  width: $col-4;
  height: 90%;
  padding: 1% 0 0 0;
  text-align: center;
}
  // .layout-sidebar-title {
  //   float: left;
  //   width: $col-10;
  //   height: 0;
  //   padding-bottom: 15%;
  // }
  //
  // .layout-sidebar-logo {
  //   float: left;
  //   width: $col-2;
  //   height: 0;
  //   padding-bottom: 15%;
  //   background-color: red;
  // }
