@import './grid.scss';

/*High Level Layout Properties*/
#root { height:100%; width: 100%;}

.layout-App {
  height: 100%;
  width: 100%;
}
.layout-header {
  position: absolute;
  height: 15%;
  padding: 2%;
  top: 0;
  left: 0;
  z-index: 1;
  width: $col-12;
  text-align: center;
}
.layout-map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: $col-12;
  height: 100%;
  width: 100%;
}

.layout-sidebar {
  position: absolute;
  top: 15%;
  z-index: 1;
  height: 85%;
  padding: 0 0.6em;
  width: $col-4;
}
  // .layout-sidebar-title {
  //   float: left;
  //   width: $col-10;
  //   height: 0;
  //   padding-bottom: 15%;
  // }
  //
  // .layout-sidebar-logo {
  //   float: left;
  //   width: $col-2;
  //   height: 0;
  //   padding-bottom: 15%;
  //   background-color: red;
  // }
