/*Element Selectors, CSS Reset*/
@import './colors.scss';
@import './util/reset.scss';

* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  background-color: #FFF;
}

body {
  background-color: rgba($light-grey, 0.2);
}

img {
  max-width: 100%;
}

a {
  color: $main-teal;
}

h1 {
  font-size: 2.5em;
}

::selection {
  background: $accent-yellow; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $accent-yellow; /* Gecko Browsers */
}
