$primary-color: #000762;
$dark-color: darken($primary-color, 20%);
$light-color: lighten($primary-color, 20%);

$main-blue: #0c1975;
$main-teal: #00829B;
$accent-blue: #000977;
$accent-yellow: #ccE226;

$good-quality: #99d594;
$fair-quality:#ffffbf;
$poor-quality: #fc8d59;
