$primary-color: #000762;
$dark-color: darken($primary-color, 20%);
$light-color: lighten($primary-color, 20%);

$main-blue: #0f1b58;
$main-teal: #008982;
$accent-blue: #000977;
$accent-yellow: #cccc33;

$dark-grey: #333333;
$light-grey: #f5f6fa;

$good-quality: #99d594;
$fair-quality:#ffffbf;
$poor-quality: #fc8d59;
