@import "../../colors.scss";

.navbar {
  color: $accent-yellow;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(0,0,0,.3);
}

.interpretation-view {
  padding: 5% 1%;
  text-align: justify;
  border: 1px solid red;
}

.data-row {
  padding: 0.4em;
  color: $dark-grey;
  font-size: 0.9em;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: stretch;
}
.health-index {
  font-weight: bold;
  font-size: 1.2em;
  border: 2px solid $dark-grey;
}
.data-field {
  flex: 1 1 60%;
}
.data-value {
  flex: 1 1 40%;
}
.information-icon {
  height: 3em;
  width: 3em;
}
.value-poor {
  background: rgba($poor-quality, 1);
}
.value-fair {
  background: rgba($fair-quality, 1);
}
.value-good {
  background: rgba($good-quality, 1);
}
