@import "../../colors.scss";

.navbar {
  color: $accent-yellow;
  display: flex;
  margin: 0 0 2% 0;
  flex-flow: row;
  flex-wrap: wrap;

}

.navbar .button {
  flex: 1 1 auto;
  align-self: stretch;
  padding: 3% 1%;
  font-weight: bold;
  font-size: 1.15em;
}
.navbar .button-pressed {
  box-shadow: 5px 5px 5px $accent-yellow;
}
.navbar .active-button {
  box-shadow: 0 4px 4px -2px $accent-yellow;
  background-color: darken($light-grey, 10);
}

.interpretation-view {
  padding: 5% 1%;
  text-align: justify;
  border: 1px solid red;
}

.data-row {
  padding: 0.4em;
  color: $dark-grey;
  font-size: 0.9em;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: stretch;
}
.health-index {
  font-weight: bold;
  font-size: 1.2em;
  border: 2px solid $dark-grey;
}
.data-field {
  flex: 1 1 60%;
}
.data-value {
  flex: 1 1 40%;
}
.information-icon {
  height: 2em;
  width: 2em;
}
.value-poor {
  background: rgba($poor-quality, 1);
}
.value-fair {
  background: rgba($fair-quality, 1);
}
.value-good {
  background: rgba($good-quality, 1);
}
