@import '../../colors.scss';

.intro {
  background-color: $main-blue;
  padding: 0 2% 3% 2%;
  overflow: auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-title {
  text-align: center;
  padding: 4% 0%;
  margin: 0 0 1em 0;
}

.intro-paragraph {
  font-size: 1.1em;
  padding: 0 2% 0 2%;
  margin: 2% 0 2% 0;
}
