@import '../../colors.scss';

.intro {
  background: rgba($light-grey, 0.8);
  padding: 0 2% 3% 2%;
  color: $main-blue;
  overflow: auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-title {
  color: $main-blue;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  padding: 4% 0%;
  margin: 0 0 1em 0;
}

.intro-paragraph {
  border-radius: 10px;
  font-size: 1.1em;
  padding: 2px 15px;
  margin: 2% 0 2% 0;
}
