@import '../colors.scss';

.button {
  background-color: $light-grey;
  color: $main-teal;
}
.button a {
  color: $main-teal;
  text-decoration: none;
}

// button types
.button-external {

}
.button-internal {

}

// button lifecycle styles
.button-over {
  background-color: rgba($light-grey, 0.9);
  color: lighten($main-teal, 10%);
  cursor: pointer;
}
.button-pressed {
  box-shadow: 5px 5px 5px $main-blue;
  background-color: rgba($light-grey, 0.6);
}
.button-active {

}
