@import '../layout/grid.scss';
@import '../colors.scss';


.header {
  color: $main-blue;
  background: linear-gradient(to top, rgba($light-grey,0.8), rgba($light-grey,0.95) 100%);
  box-shadow: 0px 2px 20px black;
  display: flex;
  justify-content: center;
  flex-flow: row;

}

.logo {
  width: $col-4;
  align-self: center;
}

.title {
  font-size: 3em;
  font-weight: bold;
  align-self: center;
  width: $col-8;
}
